<% if @folder.valid? %>
  var content = '<p><%= @folder.name %> <%= link_to 'Destroy', @folder, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'delete_folder' %><br></p>'
  $(function() {
    $('#folder_name').val('')
    $('#folders').prepend(content)
    $('.delete_folder').bind('ajax:success', function() {
      $(this).parent().remove()
    })
  })
<% else %>
  alert("Invalid name")
<% end %>
