<% title = "Security" %>
<% description = "" %>
<% set_head(title, description) %>

<h3>A word about encryption</h3>

<p class="text"><span class="sixlock">6LOCK</span> uses AES-256 for password encryption. AES-256 is an industrial strength algorithm widely used by government agencies and big companies. This way, your passwords are totally secured.</p>

<p class="text">What is encrypted exactly? Every password you store on <span class="sixlock">6LOCK</span> is encrypted.</p>

<p class="text">What is not? Everything else. Other data such as usernames, folders and files names, urls and notes appear as clear text in our database.</p>

<h3>What if I want to leave?</h3>

<p class="text">You can leave <span class="sixlock">6LOCK</span> anytime you want. If you choose to delete your account, then all data related to it will be destroyed as well. We do not keep anything, not even your email address. So you would not hear from us again, ever.</p>
