<% title = "User agreement" %>
<% description = "When signing up for 6LOCK, you agree that you are sending information on Internet at your own risk. You further agree that we are not responsible for the loss or theft of your data." %>
<% set_head(title, description) %>

<h3 class="center">What you have to agree with</h3>

<p class="margin text">When signing up for <span class="sixlock">6LOCK</span>, you agree that you are sending information on Internet at your own risk. You further agree that we are not responsible for the loss or theft of your data.</p>

<p class="margin text">We do not guarantee a 100% uptime for our service.</p>

<p class="margin text">We reserve the right to modify or put an end to the service or your account at anytime. It is up to you to download backups of your data from time to time thanks to our export feature.</p>

<p class="margin text">If you think your account may be or may have been violated, it is of your responsiblity to change your password or delete your account.</p>

<h3 class="center">What we commit ourselves to</h3>

<p class="margin text">If you choose to delete your account, all your data will be destroyed as well.</p>