<% title = "Never forget a password anymore" %>
<% description = "6LOCK has been specifically created with a smooth interface that makes it an extremely simple tool to use. 6LOCK is a password manager: it stores and encrypts passwords, nothing less, nothing more. This is what makes it that easy." %>
<% set_head(title, description) %>

<div id="jump_in">
  <%= link_to 'Sign up!', new_user_registration_path %>
  <div id="jump_text">
    <h3>Jump right in! It's free.</h3>
    <p>And start using <span class="sixlock">6LOCK</span> today having all your passwords stored in one place</p>
  </div>
</div>

<p class="margin text"><span class="sixlock">6LOCK</span> has been specifically created with a smooth interface that makes it an extremely simple tool to use. <span class="sixlock">6LOCK</span> is a password manager: it stores and encrypts passwords, nothing less, nothing more. This is what makes it that easy.</p>

<%= image_tag 'world.png', :alt => "World icon", :class => "left_icon" %>

<p class="text">As a human, you use Internet on a day-to-day basis. For that each time you want to join a new service, you are invited to create an account and therefore set an email and a password. The amout of these services has grown to a point where you can’t possibly recall all your credentials and must store them somewhere secured. Well, <span class="sixlock">6LOCK</span> was made in order to suit your needs!</p>

<%= image_tag 'devices.png', :alt => "Devices icon", :class => "right_icon" %>

<p class="text"><span class="sixlock">6LOCK</span> is an online password manager. It means that your passwords are stored securely on Internet. No need to install a software. With <span class="sixlock">6LOCK</span>, all your passwords are available to any device of yours connected to Internet. You can visualize them anytime you need with your laptop, mobile phone or any other device you can think of.</p>