<h1>Welcome<%= ", #{current_user.name}" if current_user.name %></h1>

<p>
<strong>Often used</strong><br>
<% if @often_used %>
  <% @often_used.each do |record| %>
    <%= record.name %><br>
  <% end %>
<% end %>
</p>
