<h1>Welcome<%= ", #{current_user.name}" if current_user.name %></h1>

<p id="often_used">Often used</p>

<% if @often_used %>
  <% @often_used.each do |record| %>
    <div style="border:2px solid #4d4d4d;margin-top:20px;margin-right:50px;">
      <%= record.name %>
    </div>
  <% end %>
<% end %>
