<% if @record.valid? %>
  var content = '<li class="element_link"><%= link_to image_tag('cross.png', :alt => 'delete'), @record, :data => { :confirm => 'Are you sure?' }, :method => :delete, :remote => true, :class => 'delete_element' %>\
                <%= link_to @record.name, @record, :id => "link_#{@record.id}" %></li>'
  $(function() {
    $('#folder_<%= @folder.id %> .record_name').val('')
    form = $('#folder_<%= @folder.id %> .add_file_form')
    form.slideUp('fast')
    form.after(content)
    //---------------- Shows and hides the cross
    $('.elements_nav .element_link').hover(function() {
      if ($(this).attr('id') != 'current_folder' && $(this).attr('id') != 'current_record')
        $('a:first-child', this).css('display', 'inline-block')
    }, function() {
      if ($(this).attr('id') != 'current_folder' && $(this).attr('id') != 'current_record')
        $('a:first-child', this).css('display', 'none')
    })
    $('.delete_element').bind('ajax:success', function() {
      $(this).parent().remove()
    })
    //---------------- Slides the file creation form up and down
    $('.add_file a').click(function() {
      if ($(this).parent().next().css('display') == 'list-item')
        $(this).parent().next().slideUp('fast')
      else
        $(this).parent().next().slideDown('fast')
    })
    //---------------- Edit element form
    $('.edit_element').click(function() {
      $(this).prev().prev().hide()
      $(this).prev('.rename_element').show()
    })
  })
<% else %>
  alert("Invalid name")
<% end %>

