<% if @record.valid? %>
  var content = '<li class="element_link"><%= link_to image_tag('cross.png', :alt => 'delete'), @record, :data => { :confirm => 'Are you sure?' }, :method => :delete, :remote => true, :class => 'delete_element' %>\
                <%= link_to @record.name, @record, :id => "link_#{@record.id}" %></li>'
  $(function() {
    $('#folder_<%= @folder.id %> .record_name').val('')
    form = $('#folder_<%= @folder.id %> .add_file_form')
    form.slideUp('fast')
    form.parent().next('.wrapper').prepend(content)
    //---------------- Shows and hides the cross
    $('.elements_nav .element_link').hover(function() {
      if ($(this).attr('id') != 'current_folder' && $(this).attr('id') != 'current_record')
        $('a:first-child', this).css('display', 'inline-block')
    }, function() {
      if ($(this).attr('id') != 'current_folder' && $(this).attr('id') != 'current_record')
        $('a:first-child', this).css('display', 'none')
    })
    $('.delete_element').bind('ajax:success', function() {
      $(this).parent().remove()
    })
  })
<% else %>
  alert("The name you submitted contains invalid characters or is too long (> 23).")
<% end %>

