@import "compass/css3";

$electric_blue: #2186ed;
$interstate_blue: #4c6b80;
$dark_text: #4d4d4d;

@mixin navbar {
  float: left;
  width: 250px;
  background: #d9d9d9;
  min-height: 100%;
  position: relative;
}

@mixin current_item($color) {
  @include background_gradient(top, $color, darken($color, 10%));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($color)}', endColorstr='#{ie-hex-str(darken($color, 10%))}', GradientType=0);
  a {
    color: #fff;
  }
}

@mixin background_gradient($start_side, $start_color, $end_color) {
  @include background(linear-gradient($start_side, $start_color, $end_color));
  background: -ms-linear-gradient($start_side, $start_color, $end_color);
}
