@import "compass/css3";

$electric_blue: #2186ed;
$interstate_blue: #4c6b80;
$dark_text: #4d4d4d;

@mixin navbar {
  float: left;
  width: 250px;
  background: #d9d9d9;
  min-height: 100%;
  position: relative;
}

@mixin current_item($color) {
  @include background_gradient($color, darken($color, 10%));
  a {
    color: #fff;
  }
}

@mixin background_gradient($start_color, $end_color) {
  @include background(linear-gradient(top, $start_color, $end_color));
  background: -ms-linear-gradient(top, $start_color, $end_color);
}
