header {
  @include single-box-shadow(#ccc, 4px, 0px, 6px, 2px, false);
  float: left;
  width: 250px;
  background: #d9d9d9;
  min-height: 100%;
  position: relative;
  border-right: 1px solid #fff;
  a, .fake_link {
    font-size: 1.125em;
    display: inline-block;
    width: 208px;
    line-height: 32px;
    vertical-align: middle;
    padding-left: 10px;
  }
  #current_page {
    @include border-radius(4px, 4px);
    @include background(linear-gradient(top, #2186ed, #1a6bbd));
    color: #fff;
    border: 1px solid #155494;
  }
  ul {
    width: 220px;
    margin: 12px auto;
    list-style-type: none;
  }
  li {
    padding: 9px 0;
    height: 32px;
    &.separator {
     @include background(linear-gradient(top, #b3b3b3 50%, #fff 50%));
      padding: 0;
      height: 2px;
    }
  }
  #bottom {
    position: absolute;
    bottom: 0;
  }
}
