header {
  height: 100%;
  float: left;
  width: 502px;
  a, .fake_link {
    font-size: 1.125em;
    display: inline-block;
    width: 208px;
    line-height: 32px;
    vertical-align: middle;
    padding-left: 10px;
  }
}

#left_bar {
  @include single-box-shadow(#ccc, 4px, 0px, 6px, 2px, false);
  @include navbar;
  border-right: 1px solid #fff;
  z-index: 3;
}

#right_bar {
  @include navbar;
  border-right: 1px solid #a8a8a8;
  z-index: 2;
}

.files_bar {
  position: absolute;
  left: 251px;
  width: 250px;
  z-index: 1;
}

#main_nav {
  width: 220px;
  margin: 12px auto;
  list-style-type: none;
  li {
    padding: 9px 0;
    height: 32px;
    &.separator {
      @include background_gradient(top, #b3b3b3 50%, #fff 50%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str(#b3b3b3)}', endColorstr='#{ie-hex-str(#fff)}', GradientType=0);
      padding: 0;
      height: 2px;
    }
  }
}

.elements_nav {
  list-style-type: none;
  li {
    position: relative;
    margin-top: 10px;
    padding: 0 12px;
  }
  a {
    width: 94%;
    line-height: 25px;
    padding-left: 25px;
    font: {
      size: 0.75em;
      weight: 400;
    }
  }
  .delete_element {
    position: absolute;
    width: 7px;
    top: 0;
    left: -3px;
    display: none;
  }
  .edit_element {
    position: absolute;
    background: url(pen.png) center center no-repeat;
    border: none;
    width: 30px;
    height: 25px;
    cursor: pointer;
    top: 0;
    right: 0;
    display: none;
  }
}

.add_element {
  @include background_gradient(top, #f3f2f2, darken(#f3f2f2, 25%));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str(#f3f2f2)}', endColorstr='#{ie-hex-str(darken(#f3f2f2, 25%))}', GradientType=0);
  a {
    @include single-text-shadow(1px, 1px, 1px, false, #fff);
    font-weight: bold;
    padding-left: 10px;
  }
}

.add_element_form {
  display: none;
}

#current_folder {
  @include current_item($interstate_blue);
  .delete_element {
    display: inline-block;
  }
  .edit_element {
    display: inline-block;
  }
}

#current_record {
  @include current_item(#b2b2b2);
  .delete_element {
    display: inline-block;
  }
  .edit_element {
    display: inline-block;
  }
}

#current_page {
  @include border-radius(4px, 4px);
  @include background_gradient(top, $electric_blue, darken($electric_blue, 15%));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($electric_blue)}', endColorstr='#{ie-hex-str(darken($electric_blue, 15%))}', GradientType=0);
  color: #fff;
  border: 1px solid #155494;
}

#bottom {
  position: absolute;
  bottom: 0;
}

#folder_name, .record_name {
  @include border-top-left-radius(14px);
  @include border-bottom-left-radius(14px);
  border: 1px solid #a8a8a8;
  padding: 4px 12px;
  display: inline-block;
  width: 150px;
}

#new_folder, .new_record {
  text-align: center;
}

.new_element_submit {
  @include border-top-right-radius(14px);
  @include border-bottom-right-radius(14px);
  @include background_gradient(top, #fff, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str(#fff)}', endColorstr='#{ie-hex-str(#e6e6e6)}', GradientType=0);
  cursor: pointer;
  border: 1px solid #a8a8a8;
  padding: 4px 12px;
  font-weight: 400;
  color: $dark_text;
  text-align: center;
  margin-left: -1px;
  &:active {
    @include single-box-shadow(#ccc, 2px, 2px, 2px, false, true);
    @include background_gradient(top, #e6e6e6, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str(#e6e6e6)}', endColorstr='#{ie-hex-str(#fff)}', GradientType=0);
  }
}

.rename_element {
  display: none;
  input {
    margin-left: 25px;
    line-height: 25px;
    border: none;
    padding-left: 4px;
  }
  .edit_element_submit {
    @include background_gradient(top, #fff, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str(#fff)}', endColorstr='#{ie-hex-str(#e6e6e6)}', GradientType=0);
    cursor: pointer;
    margin-left: 0;
    padding: 0 4px;
    font-weight: 400;
    color: $dark_text;
    text-align: center;
    border-left: 1px solid #ccc;
    &:active {
      @include single-box-shadow(#ccc, 2px, 2px, 2px, false, true);
      @include background_gradient(top, #e6e6e6, #fff);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str(#e6e6e6)}', endColorstr='#{ie-hex-str(#fff)}', GradientType=0);
    }
  }
}

#quick_access {
  background: #fff;
  height: 100%;
  width: 100%;
  padding-left: 8px;
  border: 2px solid #ccc;
}