// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#often_used {
  text-align: right;
  color: $dark_text;
  font-size: 1.3em;
  padding-right: 50px;
}

.often_used {
  @include border-radius(4px);
  height: 120px;
  margin: 20px 50px 0 0;
  overflow: hidden;
  background: #f3f3f3;
  color: $dark_text;
  position: relative;
  &.blank_favorite {
    background: lighten(#f3f3f3, 2%);
    border: 1px dashed #aaa;
    .name {
      background: lighten(#d9d9d9, 7%);
      border-left: 4px solid lighten($electric_blue, 20%);
    }
  }
  .name {
    float: left;
    width: 160px;
    height: 100%;
    background: #d9d9d9;
    border-left: 4px solid $electric_blue;
    p {
      text-align: center;
      line-height: 120px;
    }
  }
  .data {
    float: left;
    height: 100%;
    p {
      display: table;
      height: 100%;
      padding-left: 25px;
    }
    a {
      text-decoration: underline;
    }
  }
  .link {
    float: right;
    width: 70px;
    height: 100%;
    background: url(arrow.png) no-repeat center center #4c4c4c;
  }
  .row {
    display: table-row;
  }
  .cell {
    display: table-cell;
    vertical-align: middle;
  }
  .delete_favorite {
    display: none;
    position: absolute;
    right: 0;
    height: 100%;
    background: url(trash_can.png) no-repeat center center $red_triad;;
    width: 70px;
    height: 100%;
  }
}

.change_favorite {
  display: none;
  text-align: right;
  margin: 20px 50px 0 0;
  select {
    width: 200px;
  }
}

#edit_favorites {
  color: $electric_blue;
  text-decoration: underline;
}