// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#often_used {
  text-align: right;
  color: #4d4d4d;
  font-size: 1.3em;
  padding-right: 50px;
}