// Place all the styles related to the files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.record_info {
  @include border-radius(4px);
  height: 40px;
  margin-top: 20px;
  overflow: hidden;
  background: #f3f3f3;
  .info_title {
    float: left;
    width: 160px;
    height: 100%;
    background: #d9d9d9;
    border-left: 4px solid $electric_blue;
    p {
      text-align: center;
      line-height: 40px;
      color: $dark_text;
    }
  }
  input {
    @include border-radius(2px);
    border: 1px solid #a8a8a8;
    padding-left: 10px;
  }
  .info_content {
    float: left;
    height: 100%;
    p {
      padding-left: 25px;
      line-height: 40px;
    }
    a {
      text-decoration: underline;
    }
  }
}

#notes {
  margin-top: 20px;
  border-left: 4px solid $green_triad;
  padding-left: 20px;
  margin-right: 20px;
  text-align: justify;
  textarea {
    @include border-radius(2px);
    @include single-box-shadow(#ddd, 2px, 2px);
    border: 1px solid #a8a8a8;
    padding: 5px 10px;
    margin-top: 7px;
  }
}

#edit_record {
  @include background_gradient(left, $interstate_blue, lighten($interstate_blue, 10%));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($interstate_blue)}', endColorstr='#{ie-hex-str(lighten($interstate_blue, 10%))}', GradientType=1);
  @include border-top-left-radius(4px);
  @include border-bottom-left-radius(4px);
  float: right;
  width: 120px;
  height: 25px;
  border: 1px solid #6995b3;
  border-right: none;
  p {
    text-align: center;
    line-height: 25px;
    font: {
      size: 0.9em;
      weight: 400;
    }
    color: #fff;
  }
}

input#edit_record {
  @include background_gradient(left, $green_triad, lighten($green_triad, 10%));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($green_triad)}', endColorstr='#{ie-hex-str(lighten($green_triad, 10%))}', GradientType=1);
  border: 1px solid darken($green_triad, 10%);
  border-right: none;
  color: #fff;
  cursor: pointer;
  font: {
    size: 0.9em;
    weight: 400;
  }
}

input.info_password {
  border: none;
  background: none;
}

#password_value {
  display: none;
}

#toggle {
  @include single-box-shadow(#aaa, 0px, 0px, 6px, 1px);
  width: 27px;
  height: 24px;
  background: url(toggle.jpg);
  margin-bottom: 3px;
  vertical-align: middle;
  cursor: pointer;
  &:active {
    @include single-box-shadow(#bbb, 0px, 0px, 2px, 1px);
    @include background-image(linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%), url(toggle.jpg));
  }
}

#forge {
  @extend #toggle;
  background: url(forge.jpg);
  &:active {
    @include background-image(linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%), url(forge.jpg));
  }
}

.decrypted_password {
  margin-right: 10px;
}

#overlay {
  @include opacity(0.4);
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: #000;
}

#overlay_box {
  @include border-radius(4px);
  @include single-box-shadow(#333, 0px, 0px, 12px, 1px);
  display: none;
  width: 540px;
  height: 240px;
  position: absolute;
  z-index: 11;
  background: #fff;
}

#inner_box {
  width: 540px;
  height: 240px;
  position: relative;
}

#box_header {
  @include border-top-left-radius(4px);
  @include border-top-right-radius(4px);
  @include background_gradient(top, lighten(#a8a8a8, 2%) 50%, #a8a8a8 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str(#d9d9d9)}', endColorstr='#{ie-hex-str(lighten(#a8a8a8, 2%))}', GradientType=0);
  border-bottom: 1px solid $dark_text;
  padding: 4px 0;
  p {
    text-align: center;
    font-weight: 400;
    color: $dark_text;
  }
}

#box_footer {
  @include border-bottom-left-radius(4px);
  @include border-bottom-right-radius(4px);
  position: absolute;
  left: 0;
  bottom: 0;
  background: darken(#a8a8a8, 10%);
  border-top: 1px solid $dark_text;
  padding: 4px 0;
  width: 100%;
  input {
    @include basic_button;
  }
  p {
    text-align: right;
    font-weight: 400;
    color: $dark_text;
  }
}

#cancel_forge {
  background: #d9d9d9;
}

#forge_button {
  @include background_gradient(top, $electric_blue, darken($electric_blue, 15%));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($electric_blue)}', endColorstr='#{ie-hex-str(darken($electric_blue, 15%))}', GradientType=0);
  margin-right: 12px;
  color: #fff;
}

#tools {
  text-align: center;
  padding: 10px 0;
  font-size: 0.9em;
}

#generate {
  @include background_gradient(top, $green_triad, darken($green_triad, 10%));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($green_triad)}', endColorstr='#{ie-hex-str(darken($green_triad, 10%))}', GradientType=0);
  @include basic_button;
  color: #fff;
}