// Place all the styles related to the files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.record_info {
  @include border-radius(4px);
  height: 40px;
  margin-top: 20px;
  overflow: hidden;
  background: #f3f3f3;
  color: $dark_text;
  .info_title {
    float: left;
    width: 160px;
    height: 100%;
    background: #d9d9d9;
    border-left: 4px solid $electric_blue;
    p {
      text-align: center;
      line-height: 40px;
    }
  }
  .info_content {
    float: left;
    height: 100%;
    p {
      padding-left: 25px;
      line-height: 40px;
    }
    a {
      text-decoration: underline;
    }
  }
}