// Place all the styles related to the files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.record_info {
  @include border-radius(4px);
  height: 40px;
  margin-top: 20px;
  overflow: hidden;
  background: #f3f3f3;
  .info_title {
    float: left;
    width: 160px;
    height: 100%;
    background: #d9d9d9;
    border-left: 4px solid $electric_blue;
    p {
      text-align: center;
      line-height: 40px;
      color: $dark_text;
    }
  }
  input {
    @include border-radius(2px);
    border: 1px solid #a8a8a8;
    padding-left: 10px;
  }
  .info_content {
    float: left;
    height: 100%;
    p {
      padding-left: 25px;
      line-height: 40px;
    }
    a {
      text-decoration: underline;
    }
  }
}

#notes {
  margin-top: 20px;
  border-left: 4px solid $green_triad;
  padding-left: 20px;
  margin-right: 20px;
  text-align: justify;
  textarea {
    @include border-radius(2px);
    @include single-box-shadow(#ddd, 2px, 2px);
    border: 1px solid #a8a8a8;
    padding: 5px 10px;
    margin-top: 7px;
  }
}

#edit_record {
  @include background_gradient(left, $interstate_blue, lighten($interstate_blue, 10%));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($interstate_blue)}', endColorstr='#{ie-hex-str(lighten($interstate_blue, 10%))}', GradientType=1);
  @include border-top-left-radius(4px);
  @include border-bottom-left-radius(4px);
  float: right;
  width: 120px;
  height: 25px;
  border: 1px solid #6995b3;
  border-right: none;
  p {
    text-align: center;
    line-height: 25px;
    font: {
      size: 0.9em;
      weight: 400;
    }
    color: #fff;
  }
}

input#edit_record {
  @include background_gradient(left, $green_triad, lighten($green_triad, 10%));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($green_triad)}', endColorstr='#{ie-hex-str(lighten($green_triad, 10%))}', GradientType=1);
  border: 1px solid darken($green_triad, 10%);
  border-right: none;
  color: #fff;
  cursor: pointer;
  font: {
    size: 0.9em;
    weight: 400;
  }
}

#info_password {
  border: none;
  background: none;
}