// Place all the styles related to the sixlock controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topbar {
  height: 60px;
  @include background_gradient(top, #2c2c2c, darken(#2c2c2c, 10%));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str(#2c2c2c)}', endColorstr='#{ie-hex-str(darken(#2c2c2c, 10%))}', GradientType=0);
  @include single-box-shadow(#484848, 0px, 5px, 10px);
}

#patterns {
  @include single-box-shadow(#c6c6c6, 0px, 50px, 80px);
  height: 420px;
  background: url(dark_mosaic.png);
  border-bottom: 1px solid #fff;
  img {
    margin: 0 auto;
    display: block;
  }
}

#maintitle {
  width: 930px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  p {
    font-size: 1.3em;
    font-weight: 400;
    color: $interstate_blue;
  }
}

#page {
  width: 930px;
  margin: 0 auto;
  padding: 150px 0 80px;
}

footer {
  height: 210px;
  background: #191919;
}

#footer {
  width: 930px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  ul {
    list-style-type: none;
  }
  li {
    display: inline;
    margin-right: 15px;
    color: #fff;
    font-size: 0.8em;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
  p {
    margin-top: 20px;
    font-size: 0.8em;
    color: #fff;
  }
}