// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account_info {
  @extend .record_info;
}

#edit_account {
  @extend #edit_record;
}

#delete_account {
  @extend #edit_record;
  @include background_gradient(left, $red_triad, lighten($red_triad, 10%));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($red_triad)}', endColorstr='#{ie-hex-str(lighten($red_triad, 10%))}', GradientType=1);
  border: 1px solid darken($red_triad, 10%);
  border-right: none;
  margin-top: 20px;
}

input#edit_account {
  @extend input#edit_record;
}

input.field_with_errors {
  border: 2px solid $red_triad;
}