/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "base";

@import "header";
@import "home";
@import "records";
@import "users";
@import "sixlock";
@import "menu";
@import "who_is_it_for";
@import "chosen";
@import "jquery.jscrollpane";
@import "jquery.jscrollpane.custom";

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #4c4c4c;
}

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

img {
  border: none;
}

input[type=text], input[type=email], input[type=password], textarea {
  @include transition(all 0.30s ease-in-out);
  outline: none;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
  @include box-shadow(0 0 5px rgba(81, 203, 238, 1));
  border: 1px solid rgba(81, 203, 238, 1);
}

.sixlock {
  font-weight: 400;
  color: $electric_blue;
}

.clear_right {
  clear: right;
}

.clear_both {
  clear: both;
}

#left_bar {
  .chzn-container {
    margin-top: 3px;
    a {
      font-size: 13px;
      width: 210px;
    }
    li {
      padding: 5px 6px!important;
      height: auto!important;
    }
  }
}

h1 {
  font: {
    size: 3em;
    weight: 300;
  }
  color: #b2b2b2;
}

h2 {
  font: {
    size: 2em;
    weight: 400;
  }
  color: #fff;
}

h3.center {
  text-align: center;
  margin-bottom: 20px;
  font: {
    size: 1.7em;
    weight: 400;
  }
  color: #000;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 400;
}

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CfC;
  border: solid 1px #6c6;
  margin-right: 50px;
}

#flash_alert {
  background-color: #fcc;
  border: solid 1px #c66;
  margin-right: 50px;
  ul {
    list-style-type: none;
  }
}

#container {
  height: 100%;
}

#main {
  margin-left: 502px;
  padding: 25px 0 0 40px;
}

#unlocking {
  text-align: center;
  h1 {
    margin: 50px 0 40px;
  }
  input {
    padding: 10px 15px;
    border: 2px solid $dark_text;
    &#unlock {
      border: 2px solid darken($electric_blue, 20%);
      background: url(toggle.png) center center no-repeat $electric_blue;
      cursor: pointer;
      width: 52px;
      height: 42px;
    }
    &:focus {
      border: 2px solid rgba(81, 203, 238, 1);
    }
  }
  p {
    margin-top: 10px;
  }
  .sign_x {
    display: inline-block;
    padding: 10px 15px;
    border: 2px solid darken($green_triad, 10%);
    background: $green_triad;
    width: 344px;
    color: #000;
  }
  #shared_links {
    margin-top: 50px;
  }
  #forgot_password {
    @extend .sign_x;
    border: 2px solid darken($red_triad, 20%);
    background: $red_triad;
    margin-top: 10px;
  }
  #flash_alert {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
  }
  #user_remember_me {
    border: none;
  }
  #sign_up_fields input {
    width: 344px;
  }
  #sign_up_button {
    @extend .sign_x;
    border: 2px solid darken($electric_blue, 20%);
    background: $electric_blue;
    margin-bottom: 50px;
    cursor: pointer;
    width: 378px;
    height: 46px;
    font-size: 1em;
  }
}
#wrong_place {
  padding: 5px 0 0 10px;
  a {
    text-decoration: underline;
  }
}
