header {
  float: left;
  width: 250px;
  background: #d9d9d9;
  min-height: 100%;
  position: relative;
  border-right: 1px solid #fff;
  -moz-box-shadow: 4px 0px 6px 2px #cccccc;
  -webkit-box-shadow: 4px 0px 6px 2px #cccccc;
  -o-box-shadow: 4px 0px 6px 2px #cccccc;
  box-shadow: 4px 0px 6px 2px #cccccc;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cccccc, Direction=90, Strength=6);
  a, .fake_link {
    font-size: 1.125em;
    display: inline-block;
    width: 208px;
    line-height: 32px;
    vertical-align: middle;
    padding-left: 10px;
    &#current_page {
      color: #fff;
      border: 1px solid #155494;
      border-radius: 4px;
      background: #2186ed; /* Old browsers */
      background: -moz-linear-gradient(top, #2186ed 0%, #1a6bbd 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2186ed), color-stop(100%,#1a6bbd)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #2186ed 0%,#1a6bbd 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #2186ed 0%,#1a6bbd 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #2186ed 0%,#1a6bbd 100%); /* IE10+ */
      background: linear-gradient(to bottom, #2186ed 0%,#1a6bbd 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2186ed', endColorstr='#1a6bbd',GradientType=0); /* IE6-9 */
    }
  }
  ul {
    width: 220px;
    margin: 12px auto;
    list-style-type: none;
    li {
      padding: 9px 0;
      height: 32px;
      &.separator {
        padding: 0;
        height: 2px;
        background: #b3b3b3; /* Old browsers */
        background: -moz-linear-gradient(top, #b3b3b3 50%, #ffffff 50%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#b3b3b3), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #b3b3b3 50%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #b3b3b3 50%,#ffffff 50%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #b3b3b3 50%,#ffffff 50%); /* IE10+ */
        background: linear-gradient(to bottom, #b3b3b3 50%,#ffffff 50%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#ffffff',GradientType=0); /* IE6-9 */
      }
    }
    #bottom {
      position: absolute;
      bottom: 0;
    }
  }
}
