<!doctype html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div id="container" class="container">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <div id="main" role="main">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
