<!doctype html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div id="container" class="container">
      <p id="wrong_place"><%= link_to "Wait... what? I'm in the wrong place, take me back", root_path %></p>
      <div id="unlocking">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
